<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Home</a></li>	
                <li><a class="at_menu_item" href="{{@blog.url}}/whois-gabriel-gonzalez-manana/"><span class="fa fa-flash">About</span></a></li>
         	<li><a class="at_menu_item" href="{{@blog.url}}/assets/GabrielGonzalez-Resume.pdf"><span class="fa fa-file-text"></span>Resume</a></li>
	</ul>
</div>
